<ion-header>
  <ion-navbar>
    <ion-title>
      Webland.be
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div text-center>
      <ion-icon name="pulse" style="font-size: 3em;"></ion-icon>
      <h3>Stappenteller</h3>
  </div>
  <ion-list>
    <ion-item>
      <ion-label>{{state}}</ion-label>
      <ion-toggle [(ngModel)]="start" (ionChange)='toggle();'></ion-toggle>
    </ion-item>
  </ion-list>  
  <div text-center>
    <h1>{{stappen}}</h1>
  </div>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title>
      <button ion-button icon-only (click)='goInfo();'>
        <ion-icon  name="information-circle"></ion-icon>
      </button>
    </ion-title>
  </ion-toolbar>
</ion-footer>