<ion-header>
  <ion-navbar>
    <ion-title>
      Webland.be
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div text-center>
      <ion-icon name="information-circle" style="font-size: 3em;"></ion-icon>
      <h1>Over deze app</h1>
      <p>In deze app kan u, uw stappen tellen. Deze geven weer hoeveel stappen u al gezet heeft de voorbije week. U hoeft enkel op de knop te duwen en te beginnen met wandelen de app doet de rest.</p>
  </div>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title>
      <button ion-button icon-only (click)='goBack();'>
        <ion-icon  name="home"></ion-icon>
      </button>
    </ion-title>
  </ion-toolbar>
</ion-footer>